In [2]:
import pandas as pd
pd.set_option('max_rows', 10)
from sample import *

In [3]:
df = random_walk_df()
df

                     A           B           C
2015-01-01  800.477693  800.876280  799.387990
2015-01-02  801.212282  799.250791  800.002716
2015-01-03  802.263097  798.410404  799.803626
2015-01-04  802.266535  798.272124  800.782541
2015-01-05  802.826791  800.308049  800.649357
...                ...         ...         ...
2016-08-18  811.228658  792.008967  814.099113
2016-08-19  809.922356  793.533271  815.201009
2016-08-20  809.055710  793.631633  815.988948
2016-08-21  808.017276  792.269275  815.359465
2016-08-22  807.435643  792.948130  815.814875

[600 rows x 3 columns]

In [12]:
import plotly.plotly as py
from plotly.graph_objs import *

data = [Scatter(x=df.index.to_datetime(), y=df[col], name = col) for col in df.columns]

layout = Layout(
    title='Random walk plot with pandas',
    yaxis=YAxis(title='random distribution'),
    xaxis=XAxis(title='linspace')
)

fig = Figure(data=data, layout=layout)

# IPython notebook
py.iplot(fig, filename='pandas/line-plot-title')

#url = py.plot(fig, filename='pandas/line-plot-title')