In [2]:
import pandas as pd
pd.set_option('max_rows', 10)
import seaborn as sns
from sample import *

In [3]:
df = random_walk_df()
df

                     A           B           C
2015-01-01  799.118161  798.210554  800.447475
2015-01-02  799.756582  800.272641  801.226654
2015-01-03  799.855856  800.164547  801.446673
2015-01-04  800.532282  800.579611  802.150736
2015-01-05  801.338450  801.145307  802.222455
...                ...         ...         ...
2016-08-18  772.143308  793.871139  785.020150
2016-08-19  771.333104  793.396624  787.397196
2016-08-20  771.208955  792.844265  787.298493
2016-08-21  769.401998  795.512645  787.392194
2016-08-22  769.003376  796.193733  787.057365

[600 rows x 3 columns]

In [4]:
sns.tsplot(df)

UnboundLocalError: local variable 'x' referenced before assignment